  @import url('http://fonts.cdnfonts.com/css/product-sans');
                


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: auto;
}

html{
  font-family: 'Product Sans', sans-serif;
                                                
}

:root {
  --purple: #4E598C;
  --gray4: #BDBDBD;
  --orange: #F2994A;
  --gray2: #4F4F4F;
  --black: #000000;
  --lightBlue: #817E9E;
  --darkwhite: #F7F7FF;
  --red: #EB5757;
  --blue: #2F80ED;
}